<article class="h-entry">
	<a class="u-url u-uid" href="/{{ post.permalink }}"><h3 class="p-name">{{ post.title }}</h3></a>
	{% if post.categories.size > 0 %}
	<div class="tags">
		<span>Categories:</span>
		{% assign category_link = "/categories" %}
		{% for category in post.categories %}
		{% capture category_link %}{{ category_link }}/{{ category | downcase }}{% endcapture %}
		<a href="{{ category_link }}" class="p-category" rel="directory">{{ category }}</a>
		{% endfor %}
	</div>
	{% endif %}
	{% if post.is_draft == false %}<div class="published">Posted on on <time class="dt-published" datetime="{{ post.published_date | date: "%Y-%m-%d %H:%M:%S%z" }}">{{ post.published_date | date: "%d. %m. %Y at %H:%M in %Z" }}</time>.</div>{% endif %}
	{% if post.description.size > 0 %}
	<div class="p-summary">
		{{ post.description }}
	</div>
	{% endif %}
	{% if post.tags %}
	<div class="tags">
		<span>Tags:</span>
		{% for tag in post.tags %}
		<span>#<a href="/tags/{{ tag | downcase }}" class="p-category" rel="directory tag">{{ tag }}</a></span>
		{% endfor %}
	</div>
	{% endif %}
</article>