<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/style.css">
<meta name="twitter:card" content="summary"/>
<title>{{ page.title }} - {{ site.title }}</title>
<meta property="og:title" content="{{ page.title }}"/>
<meta property="og:site_name" content="{{ site.title }}"/>
<meta property="twitter:title" content="{{ page.title }}"/>
<meta name="author" content="duanin2"/>
<meta name="fediverse:creator" content="@duanin2@mastodon.arch-linux.cz"/>
<meta property="og:url" content="{{ page.permalink }}"/>
<meta property="og:locale" content="{{ page.data.language }}"/>
{% if page.description.size > 0 %}
<meta name="description" content="{{ page.description }}"/>
<meta property="og:description" content="{{ page.description }}"/>
<meta property="twitter:description" content="{{ page.description }}"/>
{% endif %}