{% assign slug = slug | url_encode %}
<a href="{{ prev_url | replace: "SLUG", slug }}" aria-label="{{ name }} previous">&larr;</a>
[{{ name }}]({{ main_url }})
<a href="{{ next_url | replace: "SLUG", slug }}" aria-label="{{ name }} next">&rarr;</a>