<!DOCTYPE html>
<html lang="{{ page.data.language }}" prefix="og: https://ogp.me/ns#">
  <head>
    {% include "head.liquid" %}
    <meta property="og:type" content="article">
    <meta name="article:author" content="duanin2">
    {% if page.is_draft == false %}<meta property="article:published_time" content="{{ page.published_date | date: "%FT%T%z" }}">{% endif %}
  </head>
  <body>
    {% include "menu.liquid" %}
    <main>
      <h1>{{ page.title }}</h1>
      {% if page.is_draft == false %}<div class="published">Published on {{ page.published_date | date: "%d.%m.%Y at %H:%M in %Z" }}.</div>{% endif %}
      {{ page.content }}
      <nav class="posts" aria-label="Posts">
        {%- if page.next %}<a href="/{{ page.next.permalink }}" aria-label="previous">&lt;</a>{% else %}<div>&lt;</div>{% endif %}
        {%- if page.previous %}<a href="/{{ page.previous.permalink }}" aria-label="next">&gt;</a>{% else %}<div>&gt;</div>{% endif %}
      </nav>
    </main>
    {% include "footer.liquid" %}
  </body>
</html>