<!DOCTYPE html>
<html lang="{{ page.data.language }}" prefix="og: https://ogp.me/ns#">
  <head>
    {% include "head.liquid" %}
    <meta property="og:type" content="article">
    <meta name="article:author" content="duanin2">
    <meta property="article:published_time" content="{{ page.published_date | date: "%FT%T%z" }}">
  </head>
  <body>
    {% include "menu.liquid" %}
    <main>
      <h1>{{ page.title }}</h1>
      <div class="published">Published on {{ page.published_date | date: "%d.%m.%Y at %H:%M in %Z" }}.</div>
      {{ page.content }}
    </main>
    {% include "footer.liquid" %}
  </body>
</html>